/* many custom colors are not yet used */
html {
  /* THEME */
  --black: #222222;
  --outer-space: #011307;
  --white: #f7edf0;
  --sub-white: #b4b4b4;
  --gunmetal: #22333b;
  --gunmetal-transparent: hsla(199, 27%, 18%, 1);
  --gray: #5d576b;
}
#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  @media screen and (max-width: 900px) {
    /* This makes it so that the user can scroll a tiny bit, 
    triggering Android to hide browser chrome (more space).
    Have not tested this on Apple.
     */
    min-height: 100.1vh;
  }
  /* background-color: var(--outer-space); */
  /* color: var(--white); */
}
.notistack-SnackbarContainer {
  margin-top: 50px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
canvas {
  touch-action: none; /* This style prevents this TRAP: pinch-and-zoom into the canvas (because camera controls did not pick up the pinch but user device did) and losing the rest of the UI because camera controls starts working again and user cannot pinch zoom back out */
  opacity: 0;
  animation: fade-in 5s ease 1s forwards;
}
.stats-panel {
  margin-left: 95vw;
  margin-top: 68px;
}
/* This gets the debug panel looking normal again, the water.css styles were messing with the button sizes, some colors */
/* 40px overrides the 20px that the panel currently has */

/* .debug-panel strong {
  color: black !important;
}
.debug-panel button {
  color: black !important;
}
.debug-panel button.current {
  color: white !important;
}
.debug-panel nav {
  height: 40px !important;
}
.debug-panel button {
  height: 40px !important;
} */

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
